
@{
    ViewBag.Title = "Index";
}

<div id="login-view">
    <div class="background">
        <div class="background-accent"></div>
        <div class="spikes"></div>
    </div>

    <div class="login-overlay z-depth-1">
            <div class="logo"></div>

        </div>
    </div>


</div>
