
@{
    ViewBag.Title = "Index";
}

<div id="login-view">
    <div class="background">
        <div class="background-accent"></div>
        <div class="spikes"></div>
    </div>

    <div class="login-overlay z-depth-2">
        <div class="logo"></div>
        <button class="btn create-user">Benutzer erstellen</button>
        <div class="or-line"><span class="or-line-text">oder</span></div>
        <button class="btn login">Einloggen</button>
    </div>
</div>


</div>
