<div class="drive-menu">
    <div class="drive-menu-wrapper">
        <img src="http://www.socratec.de/fileadmin/media/bilder/ansprechpartner/guido-hollenstein.jpg" alt="" class="circle drive-menu-avatar">
        <div>
            <span class="drive-menu-user-name">Guido Hollenstein</span>
        </div>
        <div class="drive-menu-level">
            <div>
                <span class="drive-menu-level-text">Level 14</span>
            </div>
            <div>
                <span class="drive-menu-level-earned">
                    4341 / 7000 DP
                </span>
            </div>
            <div class="drive-menu-progressbar">
                <div class="drive-menu-progressbar-progress" style="width:40%"></div>
            </div>
            <ul class="drive-menu-list">
                <li class="waves-effect waves-dark drive-menu-list-item @if(ViewBag.ActiveTab == "ablage"){ @Html.Raw("active"); }" id="ablage">
                    <a href="/Drive">
                        <i class="small material-icons">folder</i>
                        <span>Ablage</span>
                    </a>
                </li>
                <li class="waves-effect waves-dark drive-menu-list-item @if(ViewBag.ActiveTab == "profil"){ @Html.Raw("active"); }" id="profil">
                    <a href="/Profil">
                        <i class="small material-icons">account_box</i>
                        <span>Profil</span>
                    </a>
                </li>
                <li class="waves-effect waves-dark drive-menu-list-item @if(ViewBag.ActiveTab == "freunde"){ @Html.Raw("active"); } id=" freunde">
                    <a href="/Freunde">
                        <i class="small material-icons">group</i>
                        <span>Freunde</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>