<div class="drive-menu">
    <div class="drive-menu-wrapper">
        <img src="http://www.socratec.de/fileadmin/media/bilder/ansprechpartner/guido-hollenstein.jpg" alt="" class="circle drive-menu-avatar">
        <div>
            <span class="drive-menu-user-name">Guido Hollenstein</span>
        </div>
    </div>
</div>