$login-overlay-width: 450px;

#login-view {
    height: 100vh;

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .background {
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: -1;

        .background-accent {
            @extend .amber;
            height: 50%;
            width: 100%;
        }

        .spikes {
            width: 100%;
            background-image: url(/Images/spike.png);
            background-repeat: repeat-x;
            height: 128px;
        }
    }

    .login-overlay {
        background-color: white;
        max-height: 600px;
        height: 100%;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        width: $login-overlay-width;
        left: calc(90% - #{$login-overlay-width});

        @media #{$small-and-down} {
            position: initial;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: none;
        }

        form {
            width: 100%;
            padding: 5px;
            /* label color */
            .input-field label {
                color: #fff;
            }

            .input-field input {
                border-bottom: 1px solid #fff;
            }
            /* label focus color */
            .input-field input:focus + label {
                color: #fff;
            }
            /* label underline focus color */
            .input-field input:focus {
                border-bottom: 1px solid #fff;
                box-shadow: 0 1px 0 0 #fff;
            }
            /* label focus color */
            .input-field input:focus {
                color: #fff;
            }
            /* label underline focus color */
            .input-field input:focus {
                border-bottom: 1px solid #fff;
                box-shadow: 0 1px 0 0 #fff;
            }
            /* valid color */
            .input-field input.valid {
                border-bottom: 1px solid #fff;
                box-shadow: 0 1px 0 0 #fff;
            }
            /* invalid color */
            .input-field input.invalid {
                border-bottom: 1px solid #fff;
                box-shadow: 0 1px 0 0 #fff;
            }

            .input-field .prefix.active {
                color: #fff;
            }
        }

        #login-overlay-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;

            .btn {
                width: 250px;
                height: 40px;

                &.create-user {
                    margin-top: 100px;
                    @extend .blue-grey;
                }

                &.login {
                    @extend .amber;
                }
            }

            .or-line {
                margin-top: 20px;
                margin-bottom: 20px;
                width: 250px;
                position: relative;
                text-align: center;


                &-text {
                    background-color: white;
                    padding-left: 10px;
                    padding-right: 10px;
                    @extend .blue-grey-text;
                }

                &:before {
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    display: block;
                    z-index: -1;
                    content: '';
                    @extend .blue-grey;
                    top: 50%;
                }
            }

            .logo {
                width: 150px;
                height: 150px;
            }
        }

        .form-overlay {
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @extend .amber;
            overflow: hidden;
            transition: width 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.active {
                width: 100%;
            }

            .logo {
                width: 75px;
                height: 75px;
            }

            .login-nav {
                margin: auto;
                margin-top: 5px;
                width: 26px;
            }

            .nav-button {
                border-radius: 100px;
                width: 10px;
                height: 10px;
                margin-right: 3px;
                cursor: pointer;
                float: left;
                @extend .blue-grey;

                &.nav-active {
                    @extend .amber;
                    cursor: default;
                }
            }
        }

        #login-overlay-register {


            .logo {
                width: 75px;
                height: 75px;
            }
        }

        &-toolbar {
            height: 100px;
            width: 100%;
            background-color: white;
        }

        .btn-form {
            color: #2b2b2b;
            width: calc(100% - 10px);
            position:absolute;
            bottom:5px;
            left:5px;
        }
    }
}
