$login-overlay-width: 450px;
#login-view {
    height: 100vh;
    .background {
        height:100vh;
        width:100%;
        position:absolute;
        z-index:-1;
        .background-accent {
            @extend .amber;
            height: 50%;
            width: 100%;
        }
        .spikes{
            width:100%;
            background-image:url(/Images/spike.png);
            background-repeat:repeat-x;
            height:128px;
        }
    }
    .login-overlay{
        background-color:white;
        min-height:600px;
        transform:translate(0, -50%);
        position: absolute;
        top: 40%;
        width:$login-overlay-width;
        left:calc(90% - #{$login-overlay-width});
        @media #{$small-and-down} {
            position:initial;
            width:100%;
            height:100%;
            top:0;
            left:0;
            transform:none;
        }
        .logo{
            background-image:url(/Images/logo_dropshadow.png);
            width:150px;
            height:150px;
            background-size:100% 100%;
            position:absolute;
            left:50%;
            transform:translate(-50%);
        }
    }
}
