@model DownieDrive.Web.Models.CreateFolderModal.CreateFolderModalViewModel
<div id="create-folder-modal" class="modal">
    @using (Html.BeginForm())
    {
        <div class="modal-content">
            <h4>Ordner erstellen</h4>
            <div class="input-field">
                <input id="Bezeichnung" name="Bezeichnung" type="text" class="validate">
                <label for="Bezeichnung">Ordner Namen</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Erstellen</a>
        </div>
    }
</div>
