@import "../lib/materialize/sass/materialize.scss";

@import "Base/reset.scss";
$downie-gael: #FFC107;
body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    background-image: url(/Images/logo_dropshadow.png);
    background-size:100% 100%;
}

@import "Sites/Login/login.scss";
@import "Sites/Drive/theme.scss";
@import "Sites/Drive/menu.scss";
@import "Sites/Drive/ablage.scss";