@import "../lib/materialize/sass/materialize.scss";

@import "Base/reset.scss";
$downie-gael: #FFC107;
body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    background-image: url(/Images/logo_dropshadow.png);
    background-size:100% 100%;
}
.margin-top{
    margin-top:30px;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom:10px;
    margin-top:10px;
}
@import "Sites/Login/login.scss";
@import "Sites/Drive/theme.scss";
@import "Sites/Drive/menu.scss";
@import "Sites/Drive/ablage.scss";
@import "Sites/Profil/theme.scss";
@import "Components/drive-item.scss";
@import "Modals/createFolderModal.scss";