@model DownieDrive.Web.Models.Drive.DriveViewModel
@{
    ViewBag.Title = "Drive - Ablage";
    Layout = "~/Views/Shared/_DriveLayout.cshtml";
}

<div class="drive-content" id="ablage-content">
    @Html.Partial("~/Views/Components/_Folder.cshtml")
    @Html.Partial("~/Views/Components/_File.cshtml")
    <a class="btn-floating btn-large waves-effect waves-light amber dropdown-button" data-activates='add-item-dropdown'>
        <i class="material-icons">add</i>
    </a>
    <ul id='add-item-dropdown' style="width: 300px;" class='dropdown-content'>
        <li><a href="#create-folder-modal" class="modal-trigger">Ordner erstellen</a></li>
        <li class="divider"></li>
        <li><a href="#upload-file-modal" class="modal-trigger">Datei hochladen</a></li>
        <li><a href="#!">Ordner Hochladen</a></li>
    </ul>
    @Html.Partial("~/Views/Modals/_CreateFolderModal.cshtml", Model.CreateFolderModalViewModel)
    @Html.Partial("~/Views/Modals/_UploadFileModal.cshtml", Model.UploadFileModalViewModel)
</div>
@section scripts {
    <script type="text/javascript">
        $('.modal-trigger').leanModal();
    </script>
}